.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
  }

  @media only screen and (min-width: 450px) {
    .product-wrapper {
      width: 50%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .product-wrapper {
      width: 33.333%;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .product-wrapper {
      width: 25%;
    }
  }

  .product {
    display: block;
    border: 2px solid rgb(24, 0, 0);
    border-radius: 3px;
    position: relative;
    background: #200101;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #ffffff;
    z-index: 0;
    height: 700px;
  }

  @media (max-width: 700px) {
    .product{
      height: 100%;
    }
  }

  .product-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 6px;
    
  }

  .product-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 95%;
    max-height: 95%;
    
    margin: auto;
    transition: transform .4s ease-out;
  }

  .product:hover .product-photo img {
    transform: scale(1.05);
  }

  .product p {
    position: relative;
    margin: 0;
    font-size: 1.1em;
    line-height: 1.4em;
    height: 5.6em;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;

  }

  .product p:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.2em;
    height: 1.6em;
    background: linear-gradient(to left top, #200101, rgba(255, 255, 255, 0));
  }

  .product h1 {

    padding-left: 2.5%;
    padding-right: 5%;

  }

  .button {
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}